.footer {
    padding-top: 40px;
    padding-bottom: 45px;

    
    background-color: rgb(0, 0, 0);


}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}



.footer__text {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 480px) {
    .footer__text {
        text-align: center;
    }

    .container {
        display: block;
    }
}